<div class="what_we_are_background">
	<div class="subtitle">
		<%= t '.what_are_we_title' %>
	</div>

	<div class="text">
		<%= t '.what_are_we_text' %>
	</div>
</div>


<div class="what_we_are_background">
	<div class="subtitle_2">
		<%= t '.how_it_works_title' %>
	</div>

	<div class="text">
		<%= t '.how_it_works_text' %>
	</div>
</div>

<div class="what_we_are_background">
	<div class="subtitle_3">
		<%= t '.how_it_was_made_title' %>

	</div>

	<div class="text">
		<%= t '.how_it_was_made_text' %>
	</div>
</div>